# ignore all
**

# ...except the following directories
!.github/
!.github/**
!django/
!django/**
!front-end/
!front-end/**

# ...and the following files
!Dockerfile
!docker-compose.yml
!.dockerignore
!.gitignore
!README.md
!.editorconfig
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!LICENSE
!TERMS.md
!Screenshot.png

# ... but still ignore compiled files
*.pyc
*.sqlite3
.coverage
*.DS_Store
django/static
htmlcov/

# And ignore any internal files that aren't committed here
django/django_application/settings/*.py
django/*.sh
