# ignore all
**

# ...except the following directories
!django/
!django/**
!front-end/
!front-end/**
!helm/
!helm/**

# ...and the following files
!Dockerfile
!docker-compose.yml
!.dockerignore
!.env_SAMPLE
!.gitignore
!README.md
!API.md
!setup.sh
!unzip.sh
!helm-install.sh
!build-images.sh

# ... but still ignore compiled files
*.pyc
*.sqlite3
.coverage
*.DS_Store
helm/metro2/charts/
django/static
