# ignore all
**

# ...except the following directories
!metro2/
!metro2/*
!metro2/tests/*
!requirements/
!requirements/*
!front-end/
!front-end/**

# ...and the following files
!Dockerfile
!docker-compose.yml
!.dockerignore
!.env_SAMPLE
!.gitignore
!ingest-data.sh
!README.md
!setup.sh
!unzip.sh