@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;
@use '@cfpb/cfpb-design-system/src/utilities' as *;

.error-container {
  margin-top: math.div($grid_gutter-width, $base-font-size-px) + em;

  .error-message {
    max-width: 525px;
    margin: auto;
  }
}
