@use 'sass:math';
@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.evaluator-description {
  max-width: 670px;
}

.evaluator-metadata {
  max-width: 870px;
}

.metadata-expandable-content,
.long-description {
  margin: math.div(math.div($grid_gutter-width, 4), $base-font-size-px) + em 0;
}

// Styles for evaluator long description and other metadata
.long-description,
.metadata-expandable-content {
  h4 {
    margin-bottom: math.div(math.div($grid_gutter-width, 5), $base-font-size-px) + em;
    font-size: 1rem;
    font-weight: 600;

    &:not(:first-of-type) {
      margin-top: math.div($grid_gutter-width, $base-font-size-px) + em;
    }
  }

  li {
    margin-left: math.div(math.div($grid_gutter-width, 2), $base-font-size-px) + em;
    list-style-type: disc;
  }
}

.metadata-expandable-content p {
  margin-bottom: math.div(math.div($grid_gutter-width, 3), $base-font-size-px) + em;
}

.last-modified-date,
.contribute-instructions {
  margin-top: math.div(20px, $base-font-size-px) + em;
}
