@import (reference) '../../index.less';

.locator-bar {
  box-sizing: border-box;
  padding: unit((@grid_gutter-width / @base-font-size-px), em);
  border-top: 1px solid @gray-60;
  background-color: @gray-10;

  &__actions {
    padding-top: unit((@grid_gutter-width / 3 / @base-font-size-px), em);
  }

  .header-with-icon {
    display: flex;
    gap: 10px;

    h2,
    h3,
    h4,
    h5,
    h4 + h2 {
      margin: 2px !important;
    }

    .cf-icon-svg-wrapper {
      position: relative;
      top: -1px;
    }
  }
}
