<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Metro2</title>
  <style>

    #message {
      position: absolute;
      top: 40vh;
      left: 20vw;
      width: 575px;
      height: 150px;
      border: 1px solid #feb66f;
      background-color: #fff6ed;
      font-family: Lato, proxima-nova, Helvetica Neue, Arial, sans-serif;
      text-align: left;
      padding-left: 30px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
    }
  </style>
    <script type="module" crossorigin="" src="/static/assets/index-DsbbYCNb.js"></script>
    <link rel="stylesheet" crossorigin="" href="/static/assets/index-CzeqygK5.css">
</head>
<body>
<div id="message">
    <p><b>Your Metro2 account has been deactivated due to inactivity</b><br/><br/>
        To have your account reactivated, please contact a site administrator for help.<br />
        <a href="mailto:mailbox@example.com">Contact an administrator</a>
    </p>
</div>
</body>
</html>