@import (reference) '../../index.less';

.loader {
  flex-grow: 1;

  &__background {
    background: rgba(16, 24, 32, 20%);
  }

  &_container {
    display: flex;
    justify-content: center;
  }

  &_message {
    display: flex;
    align-items: center;
    padding: unit((@grid_gutter-width / 2 / @base-font-size-px), em);
    margin-top: unit((@grid_gutter-width / 3 / @base-font-size-px), em);
  }

  &_text {
    padding-left: unit((@grid_gutter-width / 3 / @base-font-size-px), em);
  }
}
