@import (reference) '../css/main.less';

header {
  .header-navigation {
    display: flex;
    align-content: center;
    justify-content: space-between;
    gap: 10px;
    padding: 30px;
    border-bottom: 5px solid @green;

    .respond-to-max(@bp-med-max, {
      flex-direction: column;
    });
  }

  .o-header_logo {
    img {
      display: block;
      min-width: 237px;
      height: auto;
      padding-right: 15px;
      margin-right: 15px;
    }

    a:focus {
      img {
        outline: 1px dotted @pacific;
      }
    }
  }
}
