@import (reference) './index.less';
@import url('design-system-react/style.css');

// set heights & layout so the loader can cover
// a section of the page to bottom of viewport
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

// design system overrides needed for full-width layout
.wrapper,
.grid {
  max-width: none !important;
}

// global layout pattern
// provides left / right padding and flex layout for the loader
.row {
  margin: unit((@grid_gutter-width / 2 / @base-font-size-px), em)
    unit((@grid_gutter-width / @base-font-size-px), em);
  display: flex;
}

.row__content {
  flex-direction: column;
}

.row__download {
  align-items: end;
  justify-content: end;
  margin-bottom: unit((@grid_gutter-width / 2 / @base-font-size-px), em);

  h4 {
    margin-bottom: 0;
    margin-left: .5rem;
  }

  .downloader {
    margin-left: auto;
  }
}

// remove extra padding from nav header and align nav-items
.m2-nav .navbar {
  padding: 0;

  .h4 {
    .respond-to-min(@bp-med-min, {
      margin-bottom: 0;
    });

    min-width: fit-content;
  }
}

// Metro 2 header is a link but doesn't need link styling
header h1 {
  font-size: 1.25rem !important;

  a {
    color: black !important;
  }
}

// Styles for summary content on evaluator and account pages
.row__summary {
  margin-top: unit((@grid_gutter-width / 2 / @base-font-size-px), em);

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  ol,
  ul {
    margin-top: unit((@grid_gutter-width / 3 / @base-font-size-px), em);
  }
}

// expandable overrides that should be handled by RDS
// no background expandable variant
.o-expandable {
  background-color: inherit !important;
  border-width: 1px 0 !important;
}

// remove double border in accordion
.o-expandable-group .o-expandable__padded + .o-expandable__padded {
  margin-top: -1px;
}

// Styles for evaluator long description
.long-description {
  h4 {
    margin-bottom: unit((@grid_gutter-width / 5 / @base-font-size-px), em);
    font-size: 1rem;
    font-weight: 600;
  }

  p {
    margin-bottom: unit((@grid_gutter-width / @base-font-size-px), em);
  }
}

// Add spacing between link text and icons
.a-link_text + .cf-icon-svg-wrapper,
.a-btn__link .cf-icon-svg-wrapper {
  padding-left: 0.2rem;
}

.u-block {
  display: block;
}

.results__all {
  display: flex;
  width: 100%;
  background-color: @gray-5;
  max-height: 95vh;

  .results_sidebar {
    flex: 1;
    width: 33%;
    max-width: 450px;
    overflow-y: scroll;
    margin: 2em 0 2em 2em;
    padding-right: 2em;

    .h3 {
      font-weight: 500;
      font-size: 1.275em;
    }
  }

  .results_table {
    flex: 1;
    margin-top: -5px;
    background-color: @white;
  }
}

.results-message {
  display: flex;
  gap: 1em;
}

.loader {
  min-height: 90vh;
}

.no-results-message h3 {
  font-weight: 500;
}

.evaluator-hits-row {
  .row__download {
    border-top: 1px solid #c3c4c4;
    padding-top: 1rem;
    background: 	#f7f8f9;
  }
}
  .evaluator-hits-row{
    > .row {
      margin-top: 0;
      margin-bottom: 0;
      padding-bottom: .5rem;
      background: #f7f8f9;
    }
  }

  .tabbed_navigation {
    color: @black;
    margin-top: 2rem;
    margin-bottom: -1px;
    z-index: 1;
  
    fieldset {
      display: inline-flex;
    }
  
    > .row {
      margin-bottom: 0;
    }

    .table_guide {margin: 1rem 0 0 auto}
  
    .tab {
      padding: 1rem 2rem 0.8rem;
  
      font-size: unit((19px / @base-font-size-px), em);
      font-weight: 500;
  
      .cf-icon-svg-wrapper {
        margin-right: 5px;
      }
  
      .link-text::after {
        content: '';
        border-top: solid 1px @gray;
        display: block;
      }
  
      &.active {
        border: 1px solid @gray-30;
        border-bottom: 1px solid @gray-5;
        color: @black;
        background: @gray-5;
        pointer-events: none;
        position: relative;
        border-bottom: 1px solid @gray-5;
  
        &::after {
          content: '';
          display: block;
          width: calc(100% - 2px);
          outline: 2px solid @gray-5;
          position: absolute;
          bottom: -1px;
          left: 1px;
          z-index: 1;
        }
      }
  
      &:not(.active) {
        color: @pacific-dark;
        background: @white;
        border: none;
  
        &:hover {
          color: @navy-dark;
        }
  
        &:focus {
          color: @navy-dark;
        }
  
        .link-text::after {
          content: '';
          border-top: solid 1px @gray;
          display: block;
        }
      }
    }
  }