@import (reference) './index.less';
@import url('design-system-react/style.css');

// set heights & layout so the loader can cover
// a section of the page to bottom of viewport
html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

// design system overrides needed for full-width layout
.wrapper,
.grid {
  max-width: none !important;
}

// global layout pattern
// provides left / right padding and flex layout for the loader
.content-row {
  padding: unit((@grid_gutter-width / 2 / @base-font-size-px), em)
    unit((@grid_gutter-width / @base-font-size-px), em);
  display: flex;
  flex-direction: column;
}

// Metro 2 header is a link but doesn't need link styling
header h2 a {
  color: black !important;
}

// Styles for summary content on evaluator and account pages
.summary-row {
  margin-top: unit((@grid_gutter-width / 3 / @base-font-size-px), em);

  h2 {
    font-size: 24px;
    font-weight: 600;
  }

  ol,
  ul {
    margin-top: unit((@grid_gutter-width / 3 / @base-font-size-px), em);
  }
}

// styles for download button rows
.download-row {
  display: flex;
  // justify-content: space-between;
  align-items: end;
  margin-bottom: unit((@grid_gutter-width / 3 / @base-font-size-px), em);

  a,
  button {
    margin-left: auto;
  }

  // temp styles for button
  .a-btn__icon--on-right {
    padding-left: 0.6875em;
    border-left: 1px solid @pacific-60;
    margin-left: 0.4375em;
  }
}

// styles for contact info inline loader
.inline-loader {
  svg {
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

.error-container {
  .error-message {
    max-width: 500px;
    margin: auto;

    .m-btn-group .a-btn + .a-btn {
      margin-left: 2rem;
      .respond-to-max(@bp-sm-min, {margin: 0.5rem 0;});

      svg {
        padding-left: 0.5rem;
        padding-top: 0.1rem;
      }
    }
  }
}

// expandable overrides that should be handled by RDS
// no background expandable variant
.o-expandable {
  background-color: inherit !important;
  border-width: 1px 0 !important;
}

// remove double border in accordion
.o-expandable-group .o-expandable__padded + .o-expandable__padded {
  margin-top: -1px;
}
