@import (reference) '../../index.less';

.o-expandable {
  &_content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease-in-out;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    &::before {
      display: none !important;
    }
  }

  &_inner {
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      border-top: 1px solid gray;
      padding-bottom: unit((@grid_gutter-width / 2 / @base-font-size-px), em);
    }

    &::after {
      padding-bottom: unit((@grid_gutter-width / 2 / @base-font-size-px), em);
      display: block;
      content: '';
    }
  }

  &__open > &_content {
    grid-template-rows: 1fr;
    padding-bottom: unit((@grid_gutter-width / 2 / @base-font-size-px), em);
  }

  &_target {
    border: none;
    background: none;
  }

  &_cue {
    white-space: nowrap;
  }

  &_cue-text {
    font-size: 0.8em !important;
    position: relative;
    top: -0.1em;
    padding-right: 0.3em;
    padding-left: 1em;
  }
}

.o-expandable + .o-expandable {
  padding: 0;
  position: relative;
  border-top: none;
}

.o-expandable_header-interactive {
  cursor: default !important;

  .o-expandable_target {
    padding-top: unit((@grid_gutter-width / 3 / @base-font-size-px), em);
    margin-top: unit((-@grid_gutter-width / 3 / @base-font-size-px), em);
    padding-bottom: unit((@grid_gutter-width / 3 / @base-font-size-px), em);
    margin-bottom: unit((-@grid_gutter-width / 3 / @base-font-size-px), em);
  }
}
