@import (reference) '../../index.less';

.definition-list__item {
  margin-bottom: unit((@grid_gutter-width / 3 / @base-font-size-px), em);

  dt,
  dd {
    display: inline-block;
    vertical-align: top;
  }

  dt {
    font-weight: 500;
  }

  dd {
    margin-left: unit((@grid_gutter-width / 5 / @base-font-size-px), em);
  }
}
