@use '@cfpb/cfpb-design-system/src/abstracts' as *;

.filter-sidebar {
  // show lines between checkboxes in sidebar filters
  .m-form-field--checkbox + .m-form-field--checkbox {
    border-top: 1px solid var(--gray-40);
    padding-top: 0.75em;
  }

  .m-form-field--checkbox.nested {
    padding: 1em;
    margin-top: -1em;
    margin-bottom: -1em;
  }

  .o-expandable.nested--level-2 {
    .o-expandable__content {
      background-color: var(--gray-10);
      margin-left: 2.5em;

      .nested {
        padding-left: 0;
        margin-left: 0.5em;
      }
    }
  }

  // all top-level sidebar expandables should get blue background / white text
  .o-expandable--open.nested--level-1 > .o-expandable__header,
  .o-expandable.nested--level-1 > .o-expandable__header:hover {
    background-color: var(--navy-90);
    color: var(--white);

    .o-expandable__cue-text {
      &::after {
        border-bottom-color: var(--white);
        border-top-color: var(--white);
      }

      color: var(--white);
    }
  }
}
